<!DOCTYPE html>
<html>

<head>
    <title>🌸 Komi Shouko 🌸</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link id="favicon" rel="icon" href="Icon.ico" type="image/x-icon" />
</head>

<body>
    <div class="container" onclick="window.open('https://discord.com/invite/vQR6ZZ63Ap');">
        <div class="card">
            <h1>Komi Shouko</h1>
            <p>By MrMikeMC#9081</p>
        </div>
    </div>
</body>

</html>